/analyze
/AoS-SoA.cxx
/AoS-SoA_rdict.pcm
/benchmark
/cms-Muon
/FairRootProjectDict.cxx
/FairRootProjectDict_rdict.pcm
/libAoS-SoA.so
/libFairRoot.so
/libMuon.so
/libPHYSLITE.so
/measure-AoS-SoA
/Muon.cxx
/Muon_rdict.pcm
/parameters.txt
/PHYSLITEProjectDict.cxx
/PHYSLITEProjectDict_rdict.pcm
/serialize
